<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
      
    </startup>

  <appSettings>

<!--For Business Process Test-->
    <add key="originalDirectory" value=""/>
    <add key="newDirectory" value=""/>
    
    
  </appSettings>
</configuration>
